<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <base href="/">
    <link href="../assets/css/layui.css" rel="stylesheet" type="text/css">
    <script src="../assets/js/layui.all.js" type="text/javascript"></script>
    <script src="../assets/jcs/jquery-1.10.2.min.js" type="text/javascript"></script>
  </head>
    <body>
        <div style="width: 800px; margin: 0 auto;">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">输入框</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-upload" style="margin-left: 30px;">
                    <button type="button" class="layui-btn" id="head">上传房源图片</button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" name="idcardimg" style="height: 200px;width: 340px" id="headimg">
                        <p id="headtext"></p>
                    </div>
                </div>
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="test2">多图片上传</button>
                    <button type="button" class="layui-btn" id="himg">清空图片</button>
                    <script>
                        $("#himg").on("click",function(){
                            $("#demo2").html("");
                        })
                        $("#himg2").on("click",function(){
                            $(".layui-upload-img").each(function(){
                                var a = $(this).attr("src");
                            })
                        })
                    </script>
                    <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                        预览图：
                        <div class="layui-upload-list" id="demo2"></div>
                    </blockquote>
                </div>
                <script>
                    layui.use('upload', function(){
                        var $ = layui.jquery
                            ,upload = layui.upload;

                        //普通图片上传
                        var uploadInst = upload.render({
                            elem: '#head'
                            ,url: 'muniao/Landlord/headimg'//改成您自己的上传接口
                            ,before: function(obj){
                                //预读本地文件示例，不支持ie8
                                obj.preview(function(index, file, result){

                                });
                            }
                            ,done: function(res){
                                //如果上传失败
                                if(res.code > 0){
                                    return layer.msg('上传失败');
                                }
                                var path = res.head;
                                $('#headimg').attr('src', path);
                            }
                            ,error: function(){
                                //演示失败状态，并实现重传
                                var demoText = $('#headtext');
                                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                                demoText.find('.demo-reload').on('click', function(){
                                    uploadInst.upload();
                                });
                            }
                        });
                        upload.render({
                            elem: '#test2'
                            , url: '' //改成您自己的上传接口
                            , multiple: true
                            , before: function (obj) {
                                //预读本地文件示例，不支持ie8
                                obj.preview(function (index, file, result) {
                                    $('#demo2').append('<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img" style="height: 200px;width: 340px;border:3px solid #0d774a; margin: 5px;5px;">')
                                });
                            }
                            , done: function (res) {
                                //上传完毕
                                if(res.code > 0){
                                    return layer.msg('上传失败');
                                }
                                console.info("上传成功了")
                            }
                        });
                    });
                </script>
                <div class="layui-form-item">
                    <label class="layui-form-label">房源名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="password" required lay-verify="required" placeholder="请输入房源名称" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">请为您的房源填写名称</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">请介绍您的房源特色</label>
                    <div class="layui-input-inline">
                        <input type="text" name="password" required lay-verify="required" placeholder="请填写您的房源特色" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">有助于帮您的房源做宣传</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">交通位置</label>
                    <div class="layui-input-inline">
                        <input type="text" name="password" required lay-verify="required" placeholder="请填写您出租的房屋的具体位置" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">交通位置</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">文本框</label>
                    <div class="layui-input-inline">
                        <input type="text" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">辅助文字</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">文本框</label>
                    <div class="layui-input-inline">
                        <input type="text" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">辅助文字</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">文本框</label>

                </div>
                <div class="layui-form-item" style="width: 380px;">
                    <label class="layui-form-label">选择框</label>
                    <div class="layui-input-block">
                        <select name="city" lay-verify="required">
                            <option value="0" select="select">请选择</option>
                            <span th:each="rent:${renttype}">
                                <option th:value="${rent.rid}"><span th:text="${rent.tname}"></span></option>
                            </span>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item" style="width: 380px;">
                    <label class="layui-form-label">选择框</label>
                    <div class="layui-input-block">
                        <select name="city" lay-verify="required">
                            <option value="0" select="select">请选择</option>
                            <span th:each="housetyp:${housetype}">
                                <option th:value="${housetyp.id}"><span th:text="${housetyp.hname}"></span></option>
                            </span>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
        <script>
            //Demo
            layui.use('form', function(){
                var form = layui.form;
                form.render();
                //监听提交
                form.on('submit(formDemo)', function(data){
                    layer.msg(JSON.stringify(data.field));
                    return false;
                });
            });
        </script>
</body>
</html>