
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
                    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<meta name="keywords" content=""/>
<meta name="description" content="" />
<link rel="shortcut icon" href="https://www.xiaozhu.com/favicon.ico?v=20190820" type="image/vnd.microsoft.icon">
<link rel="icon" href="https://www.xiaozhu.com/favicon.ico?v=20190820" type="image/vnd.microsoft.icon">
<title>发布您的房间</title>    
   <!-- <link rel="stylesheet" type="text/css" href="//jci.xiaozhustatic1.com/e20200803/xzcss?css=base,header,footer,publishRoomV2,photoScroll,jquery-ui,nyroModal,mysite" />
    -->
 <link rel="stylesheet" type="text/css"  href="../../static/fangyuanassets/css/xzcss.css?css=base,header,footer,publishRoomV2,photoScroll,jquery-ui,nyroModal,mysite" />
 
 </head>
    <body>
            <div class="header height56">
                <div class="top"></div>
             






            <div class='h_top_box'>
                <div class="h_step_box">
                                        <ul class="clearfix">
                        <li></li>                        <li></li>                                                                    </ul>
                                        <div class="h_step_cur h_pos1">
                                                <a href="https://www.xiaozhu.com/xzweb.php?op=Pub_Index&roomId=144621985496&step=1" class="h_step1_cur"><span></span></a>
                                                <p>房源信息</p>
                    </div>
                    <div class="h_step_cur h_pos2">
                                                <a href="https://www.xiaozhu.com/xzweb.php?op=Pub_IndexV2Step2&roomId=144621985496&step=2" class="h_step2_cur"><span></span></a>
                                                <p>房源描述</p>
                    </div>
                    <div class="h_step h_pos3">
                                                <span class="h_step3_cur"></span>
                                                <p>配套设施</p>
                    </div>
                    <div class="h_step h_pos4">
                                                <span class="h_step4"></span>
                                                <p>真实照片</p>
                    </div>
                    <div class="h_step h_pos5">
                                                <span class="h_step5"></span>
                                                <p>价格规则</p>
                    </div>
                </div>
            </div>
                         
 
 
 
 
 
 
 
 

 
 
 
 
 
 
 
 
 
 
 
 
    <div class="h_wrap pb10 mt20">
                                <h4 class="h_tit">配套设施</h4>
               <div class="h_wrap pb10 mt20">
                                               <h4 class="h_tit">配套设施</h4>
                               <div class="sb_box clearfix"> 
                           <h4>卫浴：</h4>
                           <ul class="sb_list clearfix"> 
                               <li>
                                   <span class="checkbox " id="toothbrush" value='no'></span>
                                   <p class="yaju_ico " value="yaju_ico_cur">牙具</p>
                               </li>
                               <li>
                                   <span class="checkbox " id="soap" value='no'></span>
                                   <p class="xiangzao_ico " value="xiangzao_ico_cur">香皂</p>
                               </li> 
                               <li>
                                   <span class="checkbox " id="towel" value='no'></span>
                                   <p class="maojin_ico " value="maojin_ico_cur">毛巾</p>
                               </li>
                               <li>
                                   <span class="checkbox " id="toiletries" value='no'></span>
                                   <p class="xifalu_ico " value="xifalu_ico_cur">浴液 洗发水</p>
                               </li>
                               <li>
                                   <span class="checkbox " id="toiletpaper" value='no'></span>
                                   <p class="shouzhi_ico " value="shouzhi_ico_cur">手纸</p>
                               </li>
                               <li>
                                   <span class="checkbox " id="shower" value='no'></span>
                                   <p class="linyu_ico " value="linyu_ico_cur">热水淋浴</p>
                               </li>  
                               <li>
                                   <span class="checkbox " id="hotbathtub" value='no'></span>
                                   <p class="yugang_ico " value="yugang_ico_cur">浴缸</p>
                               </li>
                               <li>
                                   <span class="checkbox " id="slippers" value='no'></span>
                                   <p class="tuoxie_ico " value="tuoxie_ico_cur">拖鞋</p>
                               </li>
               
                           </ul>
                       </div>
        <div class="sb_box clearfix"> 
            <h4>电器：</h4>
            <ul class="sb_list clearfix">
                <li>
                    <span class="checkbox " id="tv" value='no'></span>
                    <p class="dianshi_ico " value="dianshi_ico_cur">电视</p>
                </li>
                <li>
                    <span class="checkbox " id="aircondition" value='no'></span>
                    <p class="kongtiao_ico " value="kongtiao_ico_cur">空调</p>
                </li>
                <li>
                    <span class="checkbox " id="drinking" value='no'></span>
                    <p class="yishuiji_ico " value="yishuiji_ico_cur">饮水设备</p>
                </li>
                <li>
                    <span class="checkbox " id="icebox" value='no'></span>
                    <p class="bingxiang_ico " value="bingxiang_ico_cur">冰箱</p>
                </li>
                <li>
                    <span class="checkbox " id="washer" value='no'></span>
                    <p class="xiyiji_ico " value="xiyiji_ico_cur">洗衣机</p>
                </li>
            </ul>
        </div>
        <div class="sb_box clearfix"> 
            <h4>设施：</h4>
            <ul class="sb_list clearfix">
                <li>
                    <span class="checkbox " id="wireless" value='no'></span>
                    <p class="wuxian_ico " value="wuxian_ico_cur">无线网络</p>
                </li>
                <li>
                    <span class="checkbox " id="wired" value='no'></span>
                    <p class="youxian_ico " value="youxian_ico_cur">有线网络</p>
                </li>
                <li>
                    <span class="checkbox " id="heater" value='no'></span>
                    <p class="nuanqi_ico " value="nuanqi_ico_cur">暖气</p>
                </li>
                <li>
                    <span class="checkbox " id="elevator" value='no'></span>
                    <p class="dianti_ico " value="dianti_ico_cur">电梯</p>
                </li>
                <li>
                    <span class="checkbox " id="accesssys" value='no'></span>
                    <p class="menjin_ico " value="menjin_ico_cur">门禁系统</p>
                </li>
                <li>
                    <span class="checkbox " id="parkingspace" value='no'></span>
                    <p class="tingchechang_ico " value="tingchechang_ico_cur">停车位</p>
                </li>
            </ul>
        </div>
        <div class="sb_box clearfix">
            <h4>特别设施：</h4>
            <ul class="sb_list clearfix">
                <li class="sp_ico_box">
                    <span class="checkbox " id="suitableforinfant" value='no'></span>
                    <p class="infant_ico " value="suitableforinfant_ico">适宜婴幼儿（为婴幼儿提供安全、便于就寝的设施）</p>
                </li>
                <li class="sp_ico_box">
                    <span class="checkbox " id="suitableforchildren" value='no'></span>
                    <p class="children_ico " value="suitableforchildren_ico">适宜儿童（为儿童提供保护安全、便于就寝的设施）</p>
                </li>
                <li class="sp_ico_box">
                    <span class="checkbox " id="suitableforoldpeople" value='no'></span>
                    <p class="old_ico " value="suitableforoldpeople_ico">适宜老人（为老人提供方便进出和日常使用的设施）</p>
                </li>
                <li class="sp_ico_box">
                    <span class="checkbox " id="suitablefordisabledpeople" value='no'></span>
                    <p class="disabled_ico " value="suitablefordisabledpeople_ico">适宜残疾人（为残疾人提供无障碍通行和活动的设施）</p>
                </li>
            </ul>
        </div>
        <div class="sb_box clearfix">
            <h4>接待性别：</h4>
            <ul class="sb_list_sex clearfix" id="sexlimit" value=0>
                <li>
                    <span class="checkbox checkbox_cur" value='yes'></span>
                    <p class="person_ico person_ico_cur" value="person_ico_cur">不限</p>
                </li>
                <li>
                    <span class="checkbox " value='no'></span>
                    <p class="man_ico " value="man_ico_cur">只允许男性</p>
                </li>
                <li>
                    <span class="checkbox " value='no'></span>
                    <p class="woman_ico " value="woman_ico_cur">只允许女性</p>
                </li>
            </ul>
        </div>
        <div class="sb_box clearfix"> 
            <h4>要求：</h4>
            <ul class="sb_list clearfix">
                <li>
                    <span class="checkbox " id="smoke" value='no'></span>
                    <p class="yan_ico " value="yan_ico_cur">允许吸烟</p>
                </li>
                <li>
                    <span class="checkbox " id="iscook" value='no'></span>
                    <p class="fan_ico " value="fan_ico_cur">允许做饭</p>
                </li>
                <li>
                    <span class="checkbox " id="pet" value='no'></span>
                    <p class="chongwu_ico " value="chongwu_ico_cur">允许带宠物</p>
                </li>
                <li>
                    <span class="checkbox " id="meet" value='no'></span>
                    <p class="juhui_ico " value="juhui_ico_cur">允许聚会</p>
                </li>
            </ul>
        </div>
    </div>
    <input type="hidden" value="" id="room_type">
    <div class="w_960 pb20 clearfix">
        <a href="###" class="keep_btn" id="facilitySave">保存并继续</a>
    </div>
                        <div class="o_mask" id='mask'  style="display:none;"></div>
        <div class="o_warp" id="dialog"  style="display:none;border:none;"></div>   
        <input type="hidden" value="" id="houseId"/>
        <input type="hidden" value="144621985496" id="roomId"/>
        <input type="hidden" value="" id="userRole">
        <input type="hidden" value="3" id="step">
        <input type="hidden" value="Pub_IndexV2Step3" id="action">
        <input type="hidden" value="" id="commercialLandlord">
            <input type="hidden" value="" id="luId">

        <div class='h_body'>
            <div class="foot_v2">
        <ul class="foot_ul">
        <li><a class="guide" href="https://www.xiaozhu.com/xzweb.php?op=Help_UserGuide&type=tenant" target="_blank">房客指南</a></li>
        <li><a class="guide icon_fk" href="https://www.xiaozhu.com/xzweb.php?op=Help_UserGuide&type=landlord" target="_blank">房东指南</a></li>
        <li>
            <span class="guide_T">关于我们</span>
            <a href="https://www.xiaozhu.com/aboutus" target="_blank">关于小猪</a>
            <a href="https://app.mokahr.com/apply/xiaozhu/4514" target="_blank">加入我们</a>
            <a href="https://www.xiaozhu.com/contactus" target="_blank">联系我们</a>
            <a href="https://open.xiaozhu.com" target="_blank">开放平台</a>
        </li>
        <li>
            <span class="guide_T">网站帮助</span>
            <a href="https://www.xiaozhu.com/help/index" target="_blank" >帮助中心</a>
            <a href="https://www.xiaozhu.com/sitemap.html" target="_blank">网站地图</a>
        </li>
        <li class="width_280">
            <span class="guide_T">网站协议</span><br/>
            <a href="https://www.xiaozhu.com/help/service" target="_blank">服务协议</a>
            <a href="https://www.xiaozhu.com/help/landlordRule" target="_blank">房东规则</a>
            <a href="https://www.xiaozhu.com/help/tenantRule" target="_blank">房客规则</a>
            <a href="https://www.xiaozhu.com/help/auditRule" target="_blank">房源上线标准</a>
            <a href="https://www.xiaozhu.com/help/privacy" target="_blank">隐私保护</a>
            <a href="https://www.xiaozhu.com/help/copyright" target="_blank">版权声明</a>
            <a href="https://www.xiaozhu.com/help/disclaimer" target="_blank">免责声明</a>
            <a href="https://www.xiaozhu.com/help/intellectualProperty" target="_blank">知识产权声明</a>
            <a href="https://www.xiaozhu.com/help/commentRule" target="_blank">点评发布规则</a>
            <a href="https://www.xiaozhu.com/help/japanReservationRule" target="_blank">日本标准住宅宿泊仲介业约款</a>
        </li>
        <li class="bigFont online_kf">
            <span class=""   onclick='window.open("https://yiconnect.wezhuiyi.com/chat?t=Cks3pxv2eMBfA3BZvdOhS6Pa1am5fygsIHyQRXc0D7U&uid=144214155797&customer=%7B%22cID%22%3A%22144214155797%22%7D","_blank");' ><i></i>在线客服</span>
            <p>客服电话  400 - 010 - 7890</p>
            <p>客服邮箱  service@xiaozhu.com</p>
        </li>
            </ul>
        <dl class="link_dl">
        <dt>城市导航</dt>
        <dd>
            <a target="_blank" href="//bj.xiaozhu.com/">北京短租房</a>
            <a target="_blank" href="//sh.xiaozhu.com/">上海短租房</a>
            <a target="_blank" href="//nj.xiaozhu.com/">南京短租房</a>
            <a target="_blank" href="//cd.xiaozhu.com/">成都短租房</a>
            <a target="_blank" href="//gz.xiaozhu.com/">广州短租房</a>
            <a target="_blank" href="//cq.xiaozhu.com/">重庆短租房</a>
            <a target="_blank" href="//wh.xiaozhu.com/">武汉短租房</a>
            <a target="_blank" href="//dl.xiaozhu.com/">大连短租房</a>
            <a target="_blank" href="//sanya.xiaozhu.com/">三亚短租房</a>
            <a target="_blank" href="//lijiang.xiaozhu.com/">丽江短租房</a>
            <a target="_blank" href="//tj.xiaozhu.com/">天津短租房</a>
            <a target="_blank" href="//xianggang.xiaozhu.com/">香港短租房</a>
            <a target="_blank" href="//cs.xiaozhu.com/">长沙短租房</a>
            <a target="_blank" href="//wx.xiaozhu.com/">无锡短租房</a>
            <a target="_blank" href="//km.xiaozhu.com/">昆明短租房</a>
            <a target="_blank" href="//jn.xiaozhu.com/">济南短租房</a>
            <a target="_blank" href="//xm.xiaozhu.com/">厦门短租房</a>
            <a target="_blank" href="//qd.xiaozhu.com/">青岛短租房</a>
            <a target="_blank" href="//zz.xiaozhu.com/">郑州短租房</a>
            <a target="_blank" href="//xa.xiaozhu.com/">西安短租房</a>
            <a target="_blank" href="//hz.xiaozhu.com/">杭州短租房</a>
            <a target="_blank" href="//sz.xiaozhu.com/">深圳短租房</a>
            <a target="_blank" href="//sy.xiaozhu.com/">沈阳短租房</a>
            <a target="_blank" href="//su.xiaozhu.com/">苏州短租房</a>
        </dd>
    </dl>
    <dl class="link_dl">
            </dl>
                <div class="foot_btm">
          <a class="record-jump" href="http://beian.miit.gov.cn" target="_blank"  rel="noopener norefferrer">京ICP备12035936号-1</a>
          &nbsp;&nbsp;许可证号：京ICP证140510号 &nbsp;&nbsp; <a href="//www.anquan.org/s/www.xiaozhu.com" |="" name="mt8SMvYyRDI92b06nuDs8dPFapllCJYidqhM1WlOoGRZ9DWpbo" rel="nofollow" target="_blank">安全联盟</a> &nbsp;&nbsp; 北京快跑信息科技有限公司 &nbsp;&nbsp; <a href="https://www.xiaozhu.com/images/yingye.jpg" |="" name="yingyezhizhao" rel="nofollow" target="_blank">营业执照号 103613118</a> <span style="display:none">  &nbsp;&nbsp; 地址：北京市海淀区知春路56号   &nbsp;&nbsp;电话：010-62961978</span>
    </div>
    <div style="margin:0 auto;color:#bdc3c7;">
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802020380" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="/images/govRecord_icon.png"/><p style="display:inline-block;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#bdc3c7;">京公网安备 11010802020380号</p></a>
        &nbsp;&nbsp; 违法和不良信息举报电话：4000107890转6  &nbsp;&nbsp; 举报邮箱：jubao@xiaozhu.com
    </div>
    <div style="margin-top: 20px">
        <a target="cyxyv" href="https://v.yunaq.com/certificate?domain=www.xiaozhu.com&from=label&code=90030" style="margin-right: 10px"> <img src="https://aqyzmedia.yunaq.com/labels/label_sm_90030.png" style="height: 48px"></a>
        <a id="_xinchacharenzheng_cert_vip_kexinweb" style="text-decoration:none;" target="_blank" href="https://xyt.xinchacha.com/pcinfo?sn=448825606222778368&certType=6"> <img src="https://xyt.xinchacha.com/img/icon/icon3.png" style="height: 48px" > </a>
    </div>
</div>

<input type="hidden" name="actionName" id="actionName" value="Pub_IndexV2Step3"/>
<input type="hidden" name="xz_srf_token" id="xz_srf_token" value="fcca67de3a3ebf9f91ae285930dfbe05"/>


<script type="text/javascript" src="../../static/fangyuanassets/js/jquery.js"></script>
<script type="text/javascript" src="../../static/fangyuanassets/js/lazyload.js"></script>
<link rel="stylesheet" type="text/css" href="../../static/fangyuanassets/css/xzcss.css?css=jquery.mCustomScrollbar,nyroModal,uploadify,shadepage" />
<script type="text/javascript" src="../../static/fangyuanassets/js/xzim4.js?source=xiaozhu&dm=xiaozhu.com" id="webimSource"></script>

<!-- <script type="text/javascript" src="//jci.xiaozhustatic3.com/e20200803/js/jquery/jquery.js"></script>
<script type="text/javascript" src="//jci.xiaozhustatic1.com/e20200803/xzjs?k=Footer&httphost=www.xiaozhu.com"></script>
<link rel="stylesheet" type="text/css" href="//jci.xiaozhustatic1.com/e20200803/xzcss?css=jquery.mCustomScrollbar,nyroModal,uploadify,shadepage" />
<script type="text/javascript" src="//jci.xiaozhustatic1.com/e20200803/js/jquery/lazyload.js"></script>
<script type="text/javascript" src="https://www.xiaozhu.com/e20200803/js/webimv4/application/xzim4.js?source=xiaozhu&dm=xiaozhu.com" id="webimSource"></script>
 -->
        </div>
        <script type="text/javascript" src="//jci.xiaozhustatic1.com/e20200803/xzjs?k=Pub_IndexV2Step3&httphost=www.xiaozhu.com"></script>
</body>
<!-- Google Tag Manager -->
<!-- End Google Tag Manager -->
</html>