<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.aaa.springboothomestay.dao.OrdersDetailsDao">
    <resultMap id="xx" type="com.aaa.springboothomestay.entity.OrdersDetails">
        <id property="id" column="id"></id>
        <result property="price" column="price"></result>
    </resultMap>
    <select id="findAllOdersDetails" resultMap="xx">
            select * from orders_details
    </select>
</mapper>