<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.springboothomestay.dao.OrderDao">
    <resultMap id="xx" type="com.aaa.springboothomestay.entity.Orders">
        <id property="id" column="id"></id>
        <!--        <result property="hid" column="hid"></result>-->
        <!--        <result property="uid" column="uid"></result>-->
        <result property="status" column="status"></result>
        <result property="cdemo" column="cdemo"></result>
        <result property="protect" column="protect"></result>
        <result property="demo" column="demo"></result>
        <!--        <result property="aid" column="aid"></result>-->
        <result property="createtime" column="createtime"></result>
        <collection property="house" javaType="com.aaa.springboothomestay.entity.House">
            <id property="id" column="id"></id>
            <result property="hname" column="hname"></result>
        </collection>
        <collection property="user" javaType="com.aaa.springboothomestay.entity.User">
            <id property="uid" column="uid"></id>
            <result property="uname" column="uname"></result>
        </collection>
                <collection property="ordersDetails" javaType="com.aaa.springboothomestay.entity.OrdersDetails">
                    <id property="id" column="id"></id>
                    <result property="checkdate" column="checkdate"></result>
                    <result property="leavedate" column="leavedate"></result>
                    <result property="day" column="day"></result>
                    <result property="housecount" column="housecount"></result>
                    <result property="checkcount" column="checkcount"></result>
                    <result property="checkname" column="checkname"></result>
                    <result property="phone" column="phone"></result>
                    <result property="price" column="price"></result>
                    <result property="amount" column="amount"></result>
                    <result property="paytime" column="paytime"></result>
                    <result property="totime" column="totime"></result>
                    <result property="gotime" column="gotime"></result>
                </collection>
    </resultMap>

    <update id="updateChexiao">
        update orders
        set cdemo = #{cdemo},
        status = 6
        where id = #{id}
    </update>

    <update id="updatetuifang">
        update orders
        set cdemo = #{cdemo},
        status = 3
        where id = #{id}
    </update>


    <select id="finById" resultMap="xx">
        select o.*,h.*,u.*,d.*
            from orders o
            join house h
            on h.id = o.id
            join user u
            on u.uid = o.uid
            join orders_details d
            on d.id = o.id
            where o.id = #{id}
    </select>

    <sql id="que">
        select o.*,h.*,u.*,d.*
            from orders o
            join house h
            on h.id = o.id
            join user u
            on u.uid = o.uid
            join orders_details d
            on d.id = o.id
           </sql>

    <select id="findAllOrders" resultMap="xx">
        <include refid="que"></include>
        <where>
            u.uid = #{uid}
            <if test="status==0">
                and 1=1
            </if>
            <if test="status==1">
                and status=1
            </if>
            <if test="status==2">
                and status=2
            </if>
            <if test="status==3">
                and status=3
            </if>
            <if test="status==4">
                and status=4
            </if>
            <if test="status==5">
                and status=5
            </if>
            <if test="status==6">
                and status=6
            </if>
            <if test="status==7">
                and status=7
            </if>
        </where>
    </select>

</mapper>